@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

:root {
  /* ## Colors */

  /* ### Primary */
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  /* ### Neutral */

  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsla(218, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --dark-grayish-blue-lighter: hsla(219, 12%, 42%, 0.864);
  --very-dark-blue: hsl(224, 21%, 14%);
  --very-dark-blue-lighter: hsl(224, 21%, 14%, 0.8);

  /* ### Fonts */
  --font-family: 'Plus Jakarta Sans', sans-serif;
  --bold: 500;
  --bolder: 800;
}

a {
  color: var(--very-dark-blue);
  font-weight: var(--bolder);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: hsl(217.14deg 85.37% 35%);
}

body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

main {
  max-width: 700px;
  background-color: var(--white);
  padding: 30px 25px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

footer {
  padding: 20px;
  color: var(--very-dark-blue-lighter);
  border-top: 1px solid var(--light-grayish-blue-2);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.notifications {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}

.notifications__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  color: var(--very-dark-blue-lighter);
  display: flex;
  align-items: center;
  gap: 5px;
}

button {
  border: none;
  background: transparent;
  color: var(--very-dark-blue-lighter);
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

.notifications__number {
  color: var(--white);
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  background: hsl(217.14deg 85.37% 24.12%);
  font-weight: var(--bold);
}

.notifications__content__card {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.notifications__content__card img {
  max-width: 50px;
}

.notifications__content__card__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.unread-background {
  background-color: var(--very-light-grayish-blue);
}

.unread {
  width: 10px;
  background-color: red;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}

.notification-type {
  color: var(--dark-grayish-blue-lighter);
}

.group {
  font-weight: var(--bolder);
  color: var(--dark-grayish-blue);
  cursor: pointer;
}

.timestamp {
  color: var(--grayish-blue);
}

.message {
  margin-top: 5px;
  border: 1px solid var(--light-grayish-blue-1);
  border-radius: 5px;
  padding: 15px;
  color: var(--very-dark-blue-lighter);
  position: relative;
}

.message::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--white);
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: -6px;
  transform: rotate(45deg);
  transform: rotate(315deg);
  border: 1px solid #000;
  border-color: var(--light-grayish-blue-1) var(--light-grayish-blue-1)
    transparent transparent;
}

.message:hover {
  background-color: var(--light-grayish-blue-1);
  color: var(--dark-grayish-blue-lighter);
}

.message:hover::before {
  background-color: inherit;
}

.hidden {
  display: none;
}

.has-image {
  grid-template-columns: 50px auto 50px;
  display: grid;
}

@media only screen and (min-width: 700px) {
  body {
    background-color: var(--very-light-grayish-blue);
    height: 100vh;
  }

  main {
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 20px 1px rgb(215 214 215 / 63);
    -moz-box-shadow: 0px 0px 20px 1px rgb(215 214 215 / 63);
    box-shadow: 0px 0px 20px 1px rgb(215 214 215 / 63);
    border-top: none;
  }
}
